<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> ipl table </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css\ipl.css'%}">
</head>


<body bgcolor="white">
<h1>indian premiere league points table</h1>
<h1>sponsor of ipl is {{org}}</h1>
<!--<h3>owner of jio {{oname}} </h3>-->
<h3>THE PAGE UPADTED ON {{date}}-{{time}}</h3>
<table class="ipl">
<tr>

   <th>no.</th>
<th>team</th>

<th>match played</th>
<th>won</th>
<th>lose</th>
<th>no result</th>
<th>points</th>
</tr>

<tr class ="rcb">
<td>1</td>
<td><img src="{% static 'images\kx11.jpg'%}"></td>
<td>14</td>
<td>11</td>
<td>2</td>
<td>1</td>
<td>23</td>
</tr>





<tr class ="csk">
<td>2</td>
<td><img src="{% static 'images\csklogo.png'%}"></td>
<td>14</td>
<td>11</td>
<td>2</td>
<td>0</td>
<td>20</td>
</tr>


<tr class="mi">
<td>3</td>
<td><img src="{% static 'images\milogo.png'%}"></td>
<td>14</td>
<td>9</td>
<td>2</td>
<td>1</td>
<td>19</td>
</tr>

<tr class="gt">
<td>4</td>
<td><img src="{% static 'images\gtlogo.jpg'%}"></td>
<td>14</td>
<td>8</td>
<td>6</td>
<td>1</td>
<td>17</td>
</tr>

<tr class="rr">
<td>5</td>
<td><img src="{% static 'images\rr.png'%}"></td>
<td>14</td>
<td>5</td>
<td>5</td>
<td>4</td>
<td>12</td>
</tr>

<tr class="lsg">
<td>6</td>
<td><img src="{% static 'images\lsg.jpg'%}"></td>
<td>14</td>
<td>5</td>
<td>9</td>
<td>0</td>
<td>10</td>
</tr>


<tr class ="srh">
<td>7</td>
<td><img src="{% static 'images\srh.png'%}"></td>
<td>14</td>
<td>4</td>
<td>10</td>
<td>0</td>
<td>8</td>
</tr>



<tr class="kx11">
<td>8</td>


<td><img src="{% static 'images\rcblogo.png'%}"></td>
<td>14</td>
<td>2</td>
<td>12</td>
<td>0</td>
<td>4</td>
</tr>





</table>
</body>
</html>


