<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>employs data update </title>
</head>
<body>
<form method="POST">
    {% csrf_token %}
  employno:<input type="text" name="empno" value="{{emp.empno}}"> <br> <br>
  empoyname:<input type="text" name="empname" value="{{emp.empname}}"> <br> <br>
  empsalary:<input type="text" name="empsalary" value="{{emp.empsalary}}"> <br> <br>
  employphno:<input type="text" name="empphno" value="{{emp.empphno}}"> <br> <br>
  employadress:<input type="text" name="empadress" value="{{emp.empadress}}"> <br> <br>
  email:<input type="text" name="email" value="{{emp.email}}"> <br> <br>
  <input type="submit" value="update employ data">

</form>
</body>
</html>