<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>NAME:<input type="text" id="name" placeholder="pls enter email"><br>
GENDER:<input type="radio" id="male">
<label>male</label>
<input type="radio" id="female">
<label>female</label><br>
PASSWORD:<input type="password" id="pass" placeholder="enter the password"> <br><br>
ACCEPT:<input type="checkbox" id="terms"> <label> accept term and condition</label><br>
SUBMIT:<input type="submit" id="termse"><br></h1>
</body>
</html>
