tr.rcb{
color:red
}

tr.csk{
color:yellow
}


tr.mi{
color:blue
}

tr.gt{
color:navy
}


tr.rr{
color:fuchsia
}

tr.lsg{
color:olive
}


tr.srh{
color:maroon
}

tr.kx11{
color:silver
}



h1{
text-align:center;
color:green;

}
h3{
text-align:center;
color:green;
}

img{

width:40px;
font-family:'roboto',sans-serif;
}



body{

margin:auto;
}